body {
    background: linear-gradient(135deg, #000000, #330000 100%);
    color: #ffffff;
    margin: 0;
}


.navbar-nav .nav-link {
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #ff5555;
}

.navbar-nav .nav-link i {
    font-size: 1.2rem;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link i:hover {
    color: #ff5555;
}





.navbar {
    transition: padding 0.3s ease;
}

.navbar.fixed-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.welcome-section {
    margin-top: 100px; /* Jarak dari navbar */
    color: #ffffff;
}

.welcome-section img {
    max-width: 100%;
    height: auto;
}

.welcome-section h1 {
    font-weight: bold; /* Menebalkan teks */
}

.welcome-section p {
    color: #858585; /* Ganti dengan warna yang diinginkan */
}


.our-service h1 {
    font-weight: bold;
    color: #ffffff; /* Adjust as needed */
}

.service-item {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-item i {
    color: #ff5555; /* Icon color */
}

.service-item .btn {
    width: 100%;
    margin-top: 5px;
}

.service-item .btn-primary {
    background-color: #ff5555;
    border-color: #ff5555;
}


.footer {
    background-color: #2c2c2c; /* Warna abu-abu gelap */
    color: #ffffff; /* Warna teks putih */
    padding: 20px 0;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
